/target/
/gisinfo/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

/classes/artifacts/mapServer_one/WEB-INF/classes/com/gisinfo/sand/auth/AuthConfigurable.class
/classes/artifacts/mapServer_one/WEB-INF/classes/com/gisinfo/sand/auth/AuthProperties.class
/classes/artifacts/mapServer_one/WEB-INF/classes/com/gisinfo/sand/auth/AuthUserService.class
/classes/artifacts/mapServer_one/WEB-INF/classes/com/gisinfo/sand/login/LoginController.class
/classes/artifacts/mapServer_one/WEB-INF/classes/com/gisinfo/sand/login/LoginService.class
/classes/artifacts/mapServer_one/WEB-INF/classes/com/gisinfo/sand/login/TokenController.class
/classes/artifacts/mapServer_one/WEB-INF/classes/com/gisinfo/sand/user/UserController.class
/classes/artifacts/mapServer_one/WEB-INF/classes/com/gisinfo/sand/SandApplication.class
/classes/artifacts/mapServer_one/WEB-INF/classes/META-INF/spring.factories
/classes/artifacts/mapServer_one/WEB-INF/classes/META-INF/spring-devtools.properties
/classes/artifacts/mapServer_one/WEB-INF/classes/templates/error.html
/classes/artifacts/mapServer_one/WEB-INF/classes/templates/hello.html
/classes/artifacts/mapServer_one/WEB-INF/classes/templates/index.html
/classes/artifacts/mapServer_one/WEB-INF/classes/application.properties
/classes/artifacts/mapServer_one/WEB-INF/classes/application-dev.properties
/classes/artifacts/mapServer_one/WEB-INF/classes/config.xml
/classes/artifacts/mapServer_one/WEB-INF/classes/config-dev.xml
/classes/artifacts/mapServer_one/WEB-INF/classes/ehcache.xml
/classes/artifacts/mapServer_one/WEB-INF/classes/logback-spring.xml
/classes/artifacts/mapServer_one/WEB-INF/lib/accessors-smart-1.2.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/android-json-0.0.20131108.vaadin1.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/antlr-2.7.7.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/asm-5.0.4.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/aspectjweaver-1.9.2.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/assertj-core-3.11.1.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/attoparser-2.0.5.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/authclient-3.2.2.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/bcprov-jdk15on-1.52.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/byte-buddy-1.9.10.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/byte-buddy-agent-1.9.10.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/classmate-1.4.0.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/commons-beanutils-1.9.3.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/commons-codec-1.11.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/commons-collections-3.2.1.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/commons-io-1.3.2.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/commons-lang3-3.8.1.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/commons-pool2-2.6.1.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/commons-text-1.2.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/dom4j-1.6.1.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/dom4j-2.1.1.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/druid-1.1.10.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/druid-spring-boot-starter-1.1.10.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/dynamic-datasource-spring-boot-starter-2.5.4.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/ehcache-2.10.6.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/filters-2.0.235-1.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/guava-20.0.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/hamcrest-core-1.3.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/hamcrest-library-1.3.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/HdrHistogram-2.1.9.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/hibernate-commons-annotations-5.0.4.Final.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/hibernate-core-5.3.7.Final.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/hibernate-validator-6.0.14.Final.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/HikariCP-3.2.0.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/httpclient-4.5.7.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/httpcore-4.4.11.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/httpmime-4.5.7.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/hutool-all-4.1.19.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/jackson-annotations-2.9.0.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/jackson-core-2.9.8.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/jackson-databind-2.9.8.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/jackson-datatype-jdk8-2.9.8.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/jackson-datatype-jsr310-2.9.8.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/jackson-module-parameter-names-2.9.8.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/jandex-2.0.5.Final.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/javassist-3.23.1-GA.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/javax.activation-api-1.2.0.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/javax.annotation-api-1.3.2.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/javax.persistence-api-2.2.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/javax.transaction-api-1.3.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/jaxb-api-2.3.1.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/jaxen-1.1.6.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/jboss-logging-3.3.2.Final.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/jcl-over-slf4j-1.7.25.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/jedis-2.9.1.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/jjwt-0.9.0.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/jolokia-core-1.6.0.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/json-path-2.4.0.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/json-smart-2.3.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/jsonassert-1.5.0.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/jsqlparser-1.2.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/jul-to-slf4j-1.7.25.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/junit-4.12.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/kaptcha-2.3.2.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/LatencyUtils-2.0.3.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/lettuce-core-5.1.4.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/log4j-api-2.11.2.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/log4j-over-slf4j-1.7.25.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/log4j-to-slf4j-2.11.2.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/logback-classic-1.2.3.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/logback-core-1.2.3.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/mapstruct-1.1.0.Final.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/micrometer-core-1.1.3.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/mockito-core-2.23.4.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/mybatis-3.5.1.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/mybatis-plus-3.1.1.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/mybatis-plus-annotation-3.1.1.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/mybatis-plus-boot-starter-3.1.1.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/mybatis-plus-core-3.1.1.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/mybatis-plus-extension-3.1.1.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/mybatis-spring-2.0.1.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/mysql-connector-java-8.0.15.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/nekohtml-1.9.22.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/netty-buffer-4.1.33.Final.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/netty-codec-4.1.33.Final.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/netty-common-4.1.33.Final.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/netty-handler-4.1.33.Final.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/netty-resolver-4.1.33.Final.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/netty-transport-4.1.33.Final.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/objenesis-2.6.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/ojdbc7-12.1.0.2.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/p6spy-3.8.0.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/reactive-streams-1.0.2.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/reactor-core-3.2.6.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/reflections-0.9.11.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/shiro-cache-1.4.0.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/shiro-config-core-1.4.0.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/shiro-config-ogdl-1.4.0.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/shiro-core-1.4.0.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/shiro-crypto-cipher-1.4.0.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/shiro-crypto-core-1.4.0.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/shiro-crypto-hash-1.4.0.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/shiro-event-1.4.0.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/shiro-lang-1.4.0.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/shiro-spring-1.4.0.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/shiro-web-1.4.0.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/slf4j-api-1.7.25.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/snakeyaml-1.23.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/spring-aop-5.1.5.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/spring-aspects-5.1.5.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/spring-beans-5.1.5.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/spring-boot-2.1.3.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/spring-boot-actuator-2.1.3.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/spring-boot-actuator-autoconfigure-2.1.3.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/spring-boot-autoconfigure-2.1.3.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/spring-boot-devtools-2.1.3.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/spring-boot-starter-2.1.3.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/spring-boot-starter-actuator-2.1.3.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/spring-boot-starter-aop-2.1.3.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/spring-boot-starter-cache-2.1.3.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/spring-boot-starter-data-jpa-2.1.3.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/spring-boot-starter-data-redis-2.1.3.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/spring-boot-starter-jdbc-2.1.3.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/spring-boot-starter-json-2.1.3.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/spring-boot-starter-logging-2.1.3.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/spring-boot-starter-test-2.1.3.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/spring-boot-starter-thymeleaf-2.1.3.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/spring-boot-starter-tomcat-2.1.3.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/spring-boot-starter-web-2.1.3.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/spring-boot-starter-websocket-2.1.3.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/spring-boot-test-2.1.3.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/spring-boot-test-autoconfigure-2.1.3.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/spring-context-5.1.5.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/spring-context-support-5.1.5.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/spring-core-5.1.5.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/spring-data-commons-2.1.5.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/spring-data-jpa-2.1.5.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/spring-data-keyvalue-2.1.5.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/spring-data-redis-2.1.5.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/spring-expression-5.1.5.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/spring-jcl-5.1.5.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/spring-jdbc-5.1.5.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/spring-messaging-5.1.5.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/spring-orm-5.1.5.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/spring-oxm-5.1.5.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/spring-plugin-core-1.2.0.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/spring-plugin-metadata-1.2.0.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/spring-test-5.1.5.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/spring-tx-5.1.5.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/spring-web-5.1.5.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/spring-webmvc-5.1.5.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/spring-websocket-5.1.5.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/springfox-bean-validators-2.7.0.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/springfox-core-2.7.0.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/springfox-schema-2.7.0.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/springfox-spi-2.7.0.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/springfox-spring-web-2.7.0.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/springfox-swagger2-2.7.0.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/springfox-swagger-common-2.7.0.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/swagger-annotations-1.5.13.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/swagger-models-1.5.13.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/swagger-spring-boot-starter-1.4.5-RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/thymeleaf-3.0.11.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/thymeleaf-extras-java8time-3.0.3.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/thymeleaf-spring5-3.0.11.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/tomcat-embed-el-9.0.16.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/tomcat-embed-websocket-9.0.16.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/unbescape-1.1.6.RELEASE.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/validation-api-2.0.1.Final.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/xercesImpl-2.11.0.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/xml-apis-1.4.01.jar
/classes/artifacts/mapServer_one/WEB-INF/lib/xmlunit-core-2.6.2.jar
/src/main/resources/templates/test.html
/src/main/resources/templates/sss.html
